<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>        

        <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <style>
            .request {
                margin-top: 10px;
                border-bottom: 1px solid black;
            }

            .http {
                background-color: silver;
                padding: 10px;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <div class="container">
                <form v-on:submit.prevent="login" v-if="!logged">
                    <div class="form-group">
                        <input type="text" class="form-control" id="user" placeholder="Username" v-model="auth.form.username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder="Password" v-model:value="auth.form.password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

                <div v-if="logged">
                    {{ account.name }}
                    <p>Listeners: <button v-on:click="refresh">Refresh</button></p>

                    <ol>
                        <li v-for="item in account.listeners">
                            <div>{{item.id}}</div>
                            <div>{{item.hooks.join(",")}}</div>
                            <div>
                                <button type="button" class="btn btn-warning" v-on:click="disconnect(item)">Disconnect</button>
                            </div>
                        </li>
                    </ol>
                    
                    <p>Last requests:</p>
                        <div class="request" v-for="item in account.requests">
                            <div>IP: {{item.ip}}</div>
                            <div>Hook: {{item.hook}}</div>
                            <div>At: {{item.at}}</div>
                                <pre class="http">{{item.method}} {{item.uri}} {{item.protocol}}<template v-if="item.headers">
<template v-for="(v, k) in item.headers">{{k}}: {{v}}
</template></template></pre>
                            <div v-if="item.error">Error: {{item.error}}</div>
                            <div v-if="item.listeners">Triggered listeners:</div>
                            <ol>
                                <li v-for="l in item.listeners">
                                    <div>{{l}}</div>
                                </li>
                            </ol>
                        </div>
                </div>
            </div>
        </div>
        <script src="main.js"></script>
    </body>
</html>